<template name="day1">

  <ul class="collapsible z-depth-0" data-collapsible="expandable">
     <li>
       <div class="collapsible-header active blue white-text flow-text center-align" style>Breakfast</div>
       {{#each breakfast_d1}}





        

       {{/each}}
      </li>

     <li>
       <div class="collapsible-header active blue white-text flow-text center-align" style> Morning</div>
       {{#each morning1_d1}}

       {{/each}}
       {{#each morning2_d1}}

       {{/each}}
     </li>
     <li>
       <div class="collapsible-header active blue white-text flow-text center-align" style>Lunch</div>
       {{#each lunch_d1}}

       {{/each}}
     </li>
     <li>
       <div class="collapsible-header  blue white-text flow-text center-align" style>afternoon</div>
       {{#each afternoon1_d1}}

       {{/each}}
       {{#each afternoon2_d1}}

       {{/each}}
        </li>

        <li>
          <div class="collapsible-header  blue white-text flow-text center-align" style>Night</div>
          {{#each night_d1}}

          {{/each}}
        </li>
   </ul>
























      </template>
