
<template name="yolo  ">
  <body>
    <nav class="white z-depth-1" role="navigation">
      <div class="nav-wrapper container">
        <a  href="#" class="brand-logo" >
          <span class="bold center orange-text  text-lighten-2" style="font-weight:med; ">Hotel Code</span>
        </a>
        <ul class="right hide-on-med-and-down">
          <li >
          </li>
        </ul>

        <ul id="nav-mobile" class="side-nav ">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="/" class="grey-text hide-on-med-and-up"><i class="material-icons">keyboard_arrow_left</i></a>
        <a href="#" data-activates="nav-mobile" class="button-collapse grey-text"></a>

      </div>


    </nav>

    <img src="images/IMG_9897.jpg" class="z-depth-1" width="100%" height="auto" >

        <div class="row  container center-align" >
          <div  class="col l9 offset-l1 s12   " >
            <div class="card-panel white z-depth-1 ">
              <span class="blue-text  flow-text">Enter your hotel code to use JourneyPost    </span><br><br>
              <div class="row">
  <form class="col s12">
    <div class="row">
        <div class="input-field  col s12">
          <i class="material-icons prefix">perm_identity</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">hotel code</label>
        </div>
<br>

    </div>

    <button next class="btn waves-effect waves-light right">Submit
   <i class="material-icons right">send</i>
 </button>
  </form>

</div>
            </div>
            <p class="black-text  " style="float:right">if you already have an account  <a href="#"><strong class="red-text"><u>Connect</u></strong> </a> now  </p>


          </div>

        </div>









  </body>






  <script type="text/javascript">
  $('.parallax').parallax();
  $('.button-collapse').sideNav({
      menuWidth: 240, // Default is 240
      edge: 'right', // Choose the horizontal origin
      closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
    }
  );
  </script>
</template>
